FLASK_ENV=development
FLASK_APP=app.py
JWT_SECRET=your_secret_jwt_key_here
OPENAI_API_KEY=your_openai_api_key_here
DATABASE_URL=postgresql://username:password@127.0.0.1:55000/your_database_name
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=db_port